[submodule "charts/linkstack"]
	path = charts/linkstack
	url = https://gitlab.com/systemsmystery/helm-charts/helm-linkstack.git
[submodule "charts/mealie"]
	path = charts/mealie
	url = https://gitlab.com/systemsmystery/helm-charts/helm-mealie.git
[submodule "charts/charts/alertmanager-ntfy"]
	path = charts/charts/alertmanager-ntfy
	url = https://gitlab.com/systemsmystery/helm-charts/helm-alertmanager-ntfy.git
[submodule "charts/alertmanager-ntfy"]
	path = charts/alertmanager-ntfy
	url = https://gitlab.com/systemsmystery/helm-charts/helm-alertmanager-ntfy.git
